.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submitButton {
  width: fit-content;
  background-color: #392061;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
}
.formContainer {
  margin-top: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.businessWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.businessContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.mapWrapper {
  width: 40%;
  height: 100%;
  border: 2px solid #392061;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selectedInfoContainer {
  width: 30%;
  border-radius: 5px;
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  /* justify-items: flex-start; */
  background-color: #e5eaee;
  padding: 20px;
}


.markerContainer {
  display: flex;
  
  background-color: white;
  border: 1px solid #db2777;
  color: #db2777;
  font-size: 16px;
  width: min-content;
  overflow: hidden;
  border-radius: 5px;
  padding: 3px 10px;
}
.markerContainer:hover {
  background-color: #db2777;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.mainMarker {
  border: 1px solid #392061;
  color: white;
  background-color: #392061;
  display: flex;
  
  font-size: 16px;
  width: min-content;
  overflow: hidden;
  border-radius: 5px;
  padding: 3px 10px;
}

/* const newColorTheme = {
  brand: {
    900: '#db2777',
    800: '#f9a8d4',
    700: '#fdf2f8',
  },
}; */